{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <article class="article__content">
            <header class="article__header"></header>
        </article>
    </main>
{% endblock %}
